<div class="fw-light">
      <% if estancia.estado == 'R' %>
            <span class="badge bg-secondary">En validación</span>
      <% end %>     

      <% if estancia.estado == 'C' %>
            <span class="badge bg-warning text-dark">Corregir</span>
      <% end %>     

      <% if estancia.estado == 'P' %>
            <span class="badge bg-warning text-dark">Subir documentos</span>
      <% end %>   

      <% if estancia.estado == 'V' %>
            <span class="badge bg-success">Validado</span>
      <% end %>     

      <% if estancia.estado == 'FP' %>
            <span class="badge bg-primary">Concluida-P</span>
      <% end %>     

      <% if estancia.estado == 'FC' %>
            <span class="badge bg-primary">Concluida</span>
      <% end %>     

      <% if estancia.estado == 'N' %>
            <span class="badge bg-danger">Rechazada</span>
      <% end %>     

</div>