<div class="fw-light">
<% if estancia.estado == 'R' %>
      En validación
<% end %>     

<% if estancia.estado == 'C' %>
      Corregir
<% end %>     

<% if estancia.estado == 'V' %>
      Validado
<% end %>     

<% if estancia.estado == 'FP' %>
      Concluida-P
<% end %>     

<% if estancia.estado == 'FC' %>
      Concluida
<% end %>     

<% if estancia.estado == 'N' %>
      Rechazada
<% end %>     

</div>