<div class="hero"> 
  <div class="container">     
    <div class="hero-content"> 
      <div class="row"> 
        <div class="col-12"> 
          <h2>Sistema de Estancias Posdoctorales</h2>
        </div>  
        
       
      </div> 
    </div>
  </div> 
</div>