<div class="hero"> 
  <div class="container">     
    <div class="hero-content"> 
      <div class="row"> 
        <div class="col-12"> 
          <h2>Sistema de Estancias Posdoctorales</h2>
           <div>Usuario: <%= nombre_com current_usuario.acceso.persona %> </div> 
           <div>Area: <%= current_usuario.acceso.persona.red.nomred %> </div> 
        </div>  
      </div> 
    </div>
  </div> 
</div>