<div>
Estimada(o) Doctora (o). {{responsable}}:

Le informamos que, después de haber revisado su Convenio de Confidencialidad y demás documentos, se encontró que todo está correcto.
Por lo anterior, le solicitamos que, por favor, imprima el Convenio de Confidencialidad en dos tantos, los rubrique al margen derecho de cada hoja y los firmen al calce, en el espacio correspondiente a cada una de las partes (Persona Investigadora INECOL y Persona Investigadora Posdoctorante).
Posteriormente, deberá recabar la firma del Director General del INECOL. Uno de los ejemplares deberá entregarse a la Secretaría Académica, mientras que el otro quedará bajo su resguardo. Asimismo, le pedimos escanear el documento firmado y subirlo al sistema para continuar con su proceso.
Adicionalmente, se adjunta en este correo la Carta de Adhesión al Código de Ética y de Conducta del INECOL, la cual deberá ser impresa y firmada por la Persona Investigadora Posdoctorante, y entregarse en original a la Secretaría Académica.

</div>