<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
             <%= link_to validaciones_path, class:"nav-link", style:"text-decoration: none;" do %> 
                  <i class="bi bi-arrow-left" style="font-size: 1rem;"></i>
             <% end %>  
        </li>

       <% if !@estancia.solicitudes.nil? %>   
          <% if @estancia.solicitudes.where(estado: 'A').count == 0 %>   
            <% if @estancia.estado == 'R' %> 
              <li class="nav-item">
                    <button type="button" 
                            class="nav-link btn btn-link" 
                            style="text-decoration: none;"
                            data-controller="validacion"
                            data-action="click->validacion#validar"
                            data-validacion-idest-param = <%=  @estancia.id %>
                            >
                        <i class="bi bi-check2-all" style="font-size: 1rem;"></i> Validar
                    </button>
              </li>
            
              <li class="nav-item">
                    <button type="button" 
                              class="nav-link btn btn-link " 
                              style="text-decoration: none;"
                              data-controller="validacion"
                              data-action="click->validacion#cambio"
                              data-validacion-idest-param = <%=  @estancia.id %>
                              >
                        <i class="bi bi-pencil-square" style="font-size: 1rem;"></i> Solicitar cambios 
                    </button>
              </li>
            <% end %>
          <% end %>
        <% end %>    
        
      </ul>
    </div>
  </div>
</nav>